h1{
    color: blueviolet;
}

p{
    color: brown;
}

/* aplicar el estilo al que tenga el ID de primerparrafo*/
#primerparrafo{
    color: green;
}

/*Todos los que tengan la clase de "grupoparrafos"*/
.grupoparrafos{
    color:blue;
}

h1:hover{
    color: black;
}